.singinBox {
  @extend .vbox;
  justify-content: center;
  gap: 2rem;
  padding: 32px 64px;
  background: linear-gradient(to bottom, $background-dark, $dark);
  border-radius: 16px;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  animation-delay: calc(0.1s * var(--i));
}

.title {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  color: $text;
  opacity: 0;
  filter: brightness(0.3); // Start with normal brightness
  animation: fadeIn 0.5s forwards, adjustBrightness 1s forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes adjustBrightness {
  0% {
    filter: brightness(0.8); // Normal brightness at start
  }
  66% {
    filter: brightness(3); // Increase brightness to 1.5
  }
  100% {
    filter: brightness(0.8); // Return brightness to normal
  }
}


.boxSeparator {
  @extend .hbox;
  width: 100%;
}

.boxSeparatorLine {
  flex: 1;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  height: 1px;
  background-color: $input;
}

.boxSeparatorItem {
  font-size: 14px;
  margin: 16px 0px;
  flex: 1;
  min-width: 30%;
  box-sizing: border-box;
  text-align: center;
  color: $text-dark;
}

.buttonBox {
  @extend .vbox;
  gap: 12px;
  justify-content: center;
  width: 100%;
  margin-top: -1rem;
}

.signupBox {
  @extend .hbox;
  padding: 8px;
  gap: 0.5rem;
  font-size: 1.2rem;
  justify-content: center;
  width: 100%;
}

.lightText {
  text-align: center;
  font-style: italic;
  color: $input;
  font-weight: 400;
}
