.userItemButton {
  @extend .hbox;
  justify-content: start;
  padding: 6px 12px;
  gap: 8px;
  width: 100%;
  border-radius: 4px;
  background-color: $background;
  transition: none;

  &:hover {
    background-color: $background-soft;

    .addIcon {
      opacity: 1;
      display: flex;
    }

    .selectedBadgeBox {
      opacity: 0;
      display: none;
    }
  }
}

.userItemButtonSelected {
  @extend .userItemButton;
  background-color: $background-soft;
}

.textBox {
  @extend .vbox;
  align-items: start;
  width: 55%;
}

.nameText {
  color: $text;
  font-weight: 500;
  margin-bottom: -2px;
}

.emailText {
  font-size: 12px;
  color: $text-dark;
  font-weight: 500;
}

.emailTextSelected {
  @extend .emailText;
  color: $text-dark;
}

.addIcon {
  margin-left: auto;
  color: $shadow;
  opacity: 0;
  display: none;
  transition: opacity 0.2s ease-in-out;
}

.removeIcon {
  @extend .addIcon;
  font-size: 20px;
}

.selectedBadgeBox {
  background-color: $shadow;
  color: $dark;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  margin-left: auto;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
