.form {
  @extend .vbox;
  // background-color: $background-soft;
  // gap: 8px;
}

.input {
  background-color: $text;
  color: $background;
}

.inputLabel {
  @extend .vbox;
  align-items: start;
  font-size: 14px;
  color: $text-dark;
  gap: 2px;
}

.signinButton,
.signupButton {
  background-color: $primary;

  &:hover {
    transform: scale(1.005);
    outline: 1px solid $primary-hover;
    background-color: $primary-hover;
  }
}
