.doughnutBox {
  @extend .vbox;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  background-color: $dark;
  width: 100%;
  border-radius: 16px;
  padding: 20px 0;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.title {
  @extend .hbox;
  gap: 8px;
  width: 90%;
  font-size: 24px;
  color: $text-dark;
}

.titleIcon {
  font-size: 24px;
  color: $input;
}

.contentBox {
  @extend .vbox;
  justify-content: center;
  gap: 16px;
  background-color: $background-dark;
  padding: 16px 8px;
  border-radius: 10px;
  width: 87%;
  min-height: 5rem;
}

.doughnutCircle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $background-soft;
//   background: conic-gradient(#e5252a 0% 33.33%, #0ac963 33.33% 66.66%, #ffc10a 66.66% 100%);
  clip-path: circle(50%);
  margin-bottom: 8px;
}

.circleCenter {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $background; /* Adjust this to match your design */
  border-radius: 50%;
}

.precentageContainer {
  @extend .hbox;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.precentageBox {
  @extend .vbox;
  justify-content: center;
  gap: 8px;
  font-size: 15px;
  color: $text-dark;
}

.dotBox {
  @extend .hbox;
  justify-content: center;
  gap: 8px;
  color: $input;
}

.pdfDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e5252a;
}

.imageDot {
  @extend .pdfDot;
  background-color: #0ac963;
}

.audioDot {
  @extend .pdfDot;
  background-color: #ffc10a;
}
