.errorContainer {
  position: absolute;
  @extend .vbox;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  animation: fadeInBlur 0.4s ease-in-out forwards;
}

@keyframes fadeInBlur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(4px);
  }
}

.errorBox {
  @extend .vbox;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  outline: 3px solid $background-soft;
  background: linear-gradient(to bottom, $background, $background-dark);
  min-width: 20vw;
  // height: 20%;
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentBox {
  @extend .hbox;
  align-items: start;
  justify-content: center;
  gap: 10px;
  padding: 16px;
  width: 100%;
  min-height: 4vh;
}

.errorTextBox {
  @extend .vbox;
  align-items: start;
  font-size: 16px;
  font-weight: 500;
}

.buttonBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  padding: 8px;
  width: 100%;
}

.button {
  @extend .primaryButton;
  font-size: 16px;
  font-weight: 500;
  width: 20%;
}

.button.danger {
  @extend .button;
  color: $text;
  background-color: $danger;

  &:hover {
    background-color: $danger-hover;
  }
}

.button.create {
  @extend .button;
  background-color: $create;

  &:hover {
    background-color: $create-hover;
  }
}

.button.primary {
  @extend .button;
  background-color: $primary;

  &:hover {
    background-color: $primary-hover;
  }
}

.button.secondary {
  @extend .button;
  background-color: $secondary;

  &:hover {
    background-color: $secondary-hover;
  }
}

.button.cancel {
  @extend .button;
  background-color: $shadow;

  &:hover {
    background-color: $input;
  }
}
