.errorContainer {
  position: absolute;
  @extend .vbox;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9999;
  animation: fadeInBlur 0.4s ease-in-out forwards;
}

@keyframes fadeInBlur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(6px);
  }
}

.errorBox {
  @extend .vbox;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  outline: 2px solid $background-soft;
  background: linear-gradient(to bottom, $background, $background-dark);
  min-width: 25vw;
  max-width: 25vw;
  z-index: 10000;
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentBox {
  @extend .hbox;
  align-items: start;
  justify-content: start;
  gap: 8px;
  padding: 16px;
  width: 95%;
  // min-height: 40px;
}

.errorTextBox {
  @extend .vbox;
  align-items: start;
  // padding: 0 8px;
  color: $shadow;
  // max-width: 20vw;
  // min-width: 15vw;
  min-height: 4vh;
  font-size: 16px;
  font-weight: 500;
}

.errorIcon {
  font-size: 18px;
  color: $input;
}

.buttonBox {
  @extend .hbox;
  justify-content: end;
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.button {
  @extend .primaryButton;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 20%;
}

.button.danger {
  @extend .dangerButton;
}

.button.create {
  @extend .createButton;
}

.button.primary {
  @extend .primaryButton;
}

.button.secondary {
  @extend .secondaryButton;
}

.button.cancel {
  @extend .cancelButton;
}
