.welcomeBox {
  @extend .vbox;
  justify-content: center;
  gap: 2rem;
  padding: 16px;
}

.welcomeText {
  font-family: "Caveat", sans-serif;
  color: $text-dark;
  // background-color: red;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: -2rem;
}

.logoBox {
  @extend .hbox;
  width: 100%;
  user-select: none;
}

.catchwordBox {
  @extend .vbox;
  justify-content: center;
  gap: 8px;
  padding: 12px 48px;
  background: linear-gradient(to bottom, $background-dark, $dark);
  border-radius: 12px;
  opacity: 0;
  animation: fadeIn 0.4s forwards;
  animation-delay: calc(0.1s * var(--i));
}

.catchwordText {
  font-family: "Caveat", sans-serif;
  color: $primary;
  font-size: 1.3rem;
}

.iconBox {
  @extend .hbox;
  justify-content: center;
  gap: 8px;
}

.icon {
  width: 30px;
}

.descriptionText {
  text-align: center;
  font-style: italic;
  color: $input;
  font-weight: 400;
  font-size: 18px;
  width: 30vw;
}

.signupText {
  @extend .descriptionText;
  font-size: 20px;
  text-align: start;
  opacity: 0;
  animation: fadeIn 0.6s forwards;
  animation-delay: calc(0.1s * var(--i));
}
