.welcomeBox {
  @extend .vbox;
  justify-content: center;
  gap: 1rem;
  padding: 16px;
}

.welcomeText {
  font-family: "Caveat", sans-serif;
  color: $text-dark;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: -1rem;
}

.logoBox {
  @extend .hbox;
  width: 100%;
}

.catchwordBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.3rem;
  padding: 14px 60px;
  background-color: $background-dark;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.catchwordText {
  font-family: "Caveat", sans-serif;
  color: $primary;
  font-size: 0.7rem;
}

.iconBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.2rem;
}

.icon {
  width: 30px;
}

.descriptionText {
  text-align: center;
  font-style: italic;
  color: $input;
  font-weight: 400;
  font-size: 18px;
  width: 500px;
}

.signupText {
  @extend .descriptionText;
  font-size: 20px;
  text-align: start;
}
