.welcomeBox {
  @extend .vbox;
  justify-content: center;
}

.welcomeText {
  font-family: "Caveat", sans-serif;
  color: $text-dark;
  font-size: 0.9rem;
  font-weight: 400;
//   margin-bottom: -0.3rem;
}

.logo {
  width: 380px;
}

.catchwordBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.3rem;
  padding: 12px 60px;
  background-color: $background-dark;
  border-radius: 16px;
  margin-bottom: 1rem;
}

.catchwordText {
  font-family: "Caveat", sans-serif;
  color: $primary;
  font-size: 0.6rem;
}

.iconBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.2rem;
}

.icon {
  width: 30px;
}
