.optionsBox {
  @extend .vbox;
  background-color: $background-dark;
  border-radius: 12px;
  width: 90%;
  // padding-bottom: 2rem;
  // height: 90%;
  max-height: calc(100vh - 150px);
  overflow: hidden;
  }

.summaryOptionsTitle {
  @extend .hbox;
  justify-content: center;
  gap: 8px;
  min-height: 3.5rem;
  height: 8%;
  width: 100%;
  background-color: $dark;
  font-size: 16px;
}

.summaryOptionsIcon {
  font-size: 16px;
  color: $input;
}

.optionsContainer {
  @extend .vbox;
  width: 100%;
  gap: 16px;
  padding: 1rem 0;
  // overflow: auto;
  @extend .scrollSecondary;
}

.disabledOptionsContainer {
  @extend .optionsContainer;
  pointer-events: none;
  opacity: 0.3;
}

.titleOptionsBox {
  @extend .hbox;
  gap: 1rem;
  // min-height: 10%;
  width: 70%;
  padding: 8px;
}

.titleBox {
  @extend .hbox;
  //   justify-content: center;
  height: 100%;
  width: 40%;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;
  white-space: nowrap;
}

.sliderBox {
  @extend .hbox;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.keywordsBox {
  @extend .hbox;
  justify-content: center;
  gap: 1rem;
  width: 80%;
  height: 25%;
  // max-height: 00px;
  flex-wrap: wrap;
  overflow: auto;
  padding: 8px;
}

.keywordTag {
  @extend .hbox;
  justify-content: center;
  background-color: $primary;
  // background: linear-gradient(to bottom, $primary, $primary-hover);
  border-radius: 8px;
  gap: 8px;
  padding: 6px 10px;
  font-size: 1rem;
  font-weight: 500;
  color: $text;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 2px 1px $primary-hover;
  }

  &.selected {
    background-color: $header;
    color: white;
  }
}

.keywordCloseIcon {
  margin-top: 4px;
  font-size: 12px;
}

.summarizeButton {
  @extend .secondaryButton;
  margin: 1rem 0;
}
