.progressContainer {
  @extend .vbox;
  justify-content: center;
  gap: 8px;
  background-color: $dark;
  width: 100%;
  border-radius: 16px;
  padding: 20px 0;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.title {
  @extend .hbox;
  gap: 8px;
  width: 90%;
  font-size: 24px;
  color: $text-dark;
}

.titleIcon {
  font-size: 24px;
  color: $input;
}

.contentBox {
  @extend .vbox;
  justify-content: center;
  gap: 16px;
  background-color: $background-dark;
  padding: 16px 8px;
  border-radius: 10px;
  width: 87%;
  min-height: 2rem;
}

.progressBarBox {
  margin-top: 16px;
  width: 95%;
}


.textBox {
  @extend .hbox;
  gap: 6px;
}

.totalSizeText {
  color: $text;
  font-size: 18px;
  font-weight: 500;
}

.maxSizeText {
  color: $text-dark;
  font-size: 18px;
  font-weight: 500;
}
