.progressContainer {
  @extend .vbox;
  justify-content: center;
  gap: 8px;
  background-color: $dark;
  width: 100%;
  border-radius: 16px;
  padding: 20px 0;
  opacity: 0;
  animation: fadeIn 0.9s forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.title {
  @extend .hbox;
  gap: 8px;
  width: 90%;
  font-size: 24px;
  color: $text-dark;
}

.titleIcon {
  font-size: 22px;
  color: $input;
}

.contentBox {
  @extend .vbox;
  justify-content: center;
  gap: 16px;
  background-color: $background-dark;
  padding: 16px 8px;
  border-radius: 10px;
  width: 87%;
  min-height: 2rem;
  flex-wrap: wrap;
}

.progressBarBox {
  margin-top: 16px;
  width: 95%;
}

.textBox {
  @extend .hbox;
  gap: 4px;
  flex-wrap: wrap;
}

.totalSizeText {
  @extend .hbox;
  justify-content: center;
  gap: 2px;
  color: $text;
  font-size: 22px;
  height: 25px;
  font-weight: 500;
}

.maxSizeText {
  @extend .totalSizeText;
  color: $text-dark;
  font-size: 24px;
}

.seperatorText {
  color: $input;
  font-weight: 400;
  font-size: 30px;
}

.mbTextBox {
  color: $input;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}
