// variables.scss
$background: #262626;
$background-soft: #3a3a3a;
$background-dark: #1f1f1f;
$input: #4b4b4b;
$text: #dceaf7;
$text-dark: #7f7f7f;
$shadow: #a0a0a0;
$primary: #46b1e1;
$primary-hover: #348cb4;
$secondary: #60c93b;
$secondary-hover: #4ca12d;
$accent: #83cbeb;
$board: #f8f8f8;
$danger: rgb(241, 7, 7);
$danger-hover: rgb(187, 18, 18);
$success: rgb(0, 194, 0);
$success-hover: rgb(0, 153, 0);
$create: #ffbb00;
$create-hover: #e07f00;
$header: #173a4b;
$dark: rgb(27, 27, 27);

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitleBox {
  @extend .hbox;
  padding: 8px;
  gap: 12px;
  width: 85%;
  color: $text-dark;
  font-size: 1.2rem;
}

.primaryButton {
  background-color: $primary;

  &:hover {
    background-color: $primary-hover;
  }
}

.secondaryButton {
  background-color: $secondary;

  &:hover {
    background-color: $secondary-hover;
  }
}

.successButton {
  background-color: $success;

  &:hover {
    background-color: $success-hover;
  }
}

.dangerButton {
  background-color: $danger;

  &:hover {
    background-color: $danger-hover;
  }
}
