// variables.scss
$background: #262626;
$background-soft:#3A3A3A;
$background-dark:#1F1F1F;
$text:#DCEAF7;
$text-dark:#7F7F7F;
$primary: #46B1E1;
$primary-hover: #5ebce7;
$secondary: #60C93B;
$secondary-hover: #68d142;
$accent: #83CBEB;

.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
