.spinnerIcon {
  color: $primary;
  font-size: 2.6rem;
  animation: animate 1.8s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.fullPageBox {
  @extend .vbox;
  gap: 1.4rem;
  font-size: 16px;
  color: $text-dark;
  justify-content: center;
  height: 100%;
}
