.fullPageBox {
  @extend .vbox;
  gap: 1.4rem;
  font-size: 16px;
  color: $text-dark;
  justify-content: center;
  height: 100%;
}

.spinner {
  background: linear-gradient(45deg, $secondary-hover, $secondary, $primary, $primary-hover);
  animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 20%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 20%;
  }
}
  