.widgetBox {
  @extend .vbox;
  flex-wrap: wrap;
  justify-content: center;
  padding: 16px 8px;
  gap: 12px;
  background-color: $dark;
  width: 95%;
  border-radius: 12px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: calc(0.1s * var(--i));
  margin-bottom: 8px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.title {
  @extend .hbox;
  gap: 6px;
  width: 93%;
}

.titleText {
  font-size: 20px;
  font-weight: 500;
  color: $shadow;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.titleIcon {
  font-size: 18px;
  color: $input;
}

.titleIcon.danger {
  color: $danger;
}

.titleIcon.create {
  color: $create-hover;
}

.titleIcon.primary {
  color: $primary;
}

.titleIcon.secondary {
  color: $secondary;
}

.badgeBox {
  font-size: 14px;
  color: $input;
  font-weight: 500;
  padding: 4px 16px;
  border-radius: 4px;
  background-color: $background-dark;
  margin-left: auto;
  white-space: nowrap;
}

.badgeLabel {
  font-size: 14px;
  color: $shadow;
  margin-right: 2px;
}

.contentBox {
  @extend .vbox;
  justify-content: center;
  gap: 8px;
  background-color: $background-dark;
  padding: 12px 16px;
  border-radius: 8px;
  width: 87%;
}

.spinnerBox {
  @extend .contentBox;
  height: 5vh;
}
