@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

.homeBox {
  @extend .hbox;
  justify-content: center;
  gap: 15%;
  width: 100%;
  height: 100%;
}

.welcomeBox {
  @extend .vbox;
  justify-content: center;
  gap: 1rem;
}

.googleButton {
  background-color: #41a01e;

  &:hover {
    transform: scale(1.005);
    outline: 1px solid #41a01e;
    background-color: #4bad28;
  }
}

.facebookButton {
  background-color: #144f86;

  &:hover {
    transform: scale(1.005);
    outline: 1px solid #144f86;
    background-color: #195994;
  }
}

.facebookIcon {
  color: #51a1eb;
}

.appleButton {
  background-color: #0d0d0d;

  &:hover {
    transform: scale(1.005);
    outline: 1px solid #0d0d0d;
    background-color: #1a1919;
  }
}

.appleIcon {
  color: white;
}

.boxSeparator {
  @extend .hbox;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.boxSeparatorItem {
  margin: 16px 0px;
  flex: 1;
  width: 33.33%; /* Each item occupies 33.33% of the container's width */
  box-sizing: border-box; /* Include border in width calculation */
  text-align: center; /* Center-align content */
  color: $text-dark;
}

.boxSeparatorLine {
  flex: 1;
  width: 33.33%; /* Each item occupies 33.33% of the container's width */
  box-sizing: border-box; /* Include border in width calculation */
  text-align: center; /* Center-align content */
  height: 1px;
  background-color: $input;
}

.buttonBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.5rem;
  padding: 32px 16px;
  background-color: $background-dark;
  border-radius: 32px;
  width: 13rem;
  height: 17rem;
}

.descriptionText {
  margin-top: 0.3rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin-top: -0.5rem;
  color: $input;
  width: 500px;
}

.signupBox {
  @extend .vbox;
  padding: 32px;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}