.passwordInputContainer {
  position: relative;
  width: 100%;
}

.inputLabel {
  @extend .vbox;
  width: 95%;
  align-items: start;
  font-size: 14px;
  color: $text-dark;
  gap: 4px;
}

.passwordToggle {
  position: absolute;
  top: 20%;
  right: 22px;
  transform: translateY(-50%);
  cursor: pointer;
}

.passwordToggleConfirm {
  @extend .passwordToggle;
  top: 50%;
}

.eyeIcon {
  color: $shadow;
}

.passRulesBox {
  @extend .vbox;
  padding: 12px 8px;
  align-items: start;
  gap: 8px;
}

.passRuleText {
  @extend .hbox;
  gap: 4px;
  font-size: 14px;
  color: $text-dark;
}
