.toolbarBox {
  @extend .hbox;
  justify-content: end;
  min-height: 3.6rem;
  width: calc(100% - 24px);
  height: 8%;
  gap: 2rem;
  padding: 0 32px;
  background-color: $dark;
  position: relative;
}

.addFileBox {
  @extend .hbox;
  gap: 0.5rem;
  margin-right: auto;
  position: relative;
}

.addFileButton {
  padding: 8px 14px;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.022);

  &:hover {
    background-color: rgba(255, 255, 255, 0.047);
  }

  &:hover .hoverText {
    opacity: 1;
  }
}

.addFileIcon {
  color: $text-dark;
  font-size: 16px;
}

.hoverText {
  display: block;
  opacity: 0;
  transition: opacity 0.7s ease;
  position: absolute;
  bottom: -80%;
  left: 140%;
  transform: translateX(-50%);
  background-color: $background;
  color: $text-dark;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 999;
}

.deleteFilesButton {
  @extend .addFileButton;
  color: $text;
  background-color: $danger-hover;
  font-weight: 500;
  font-size: 16px;
  // padding: 8px 10px;

  &:hover {
    background-color: $danger;
  }
}

.deleteFileIcon {
  color: $text;
  font-size: 14px;
}

.clearSelectionButton {
  padding: 8px 14px;
  border-radius: 8px;
  gap: 6px;
  color: $shadow;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.047);

  &:hover {
    background-color: rgba(255, 255, 255, 0.103);
  }
}

.clearSelectionIcon {
  font-size: 14px;
  color: $shadow;
}

.viewBox {
  @extend .hbox;
  gap: 4px;
}

.viewButton {
  gap: 8px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;

  &:hover {
    background-color: rgba(255, 255, 255, 0.055);
  }
  padding: 8px 12px;
}

.viewButtonSelected {
  gap: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;

  &:hover {
    background-color: rgba(255, 255, 255, 0.055);
  }
  background-color: rgba(255, 255, 255, 0.055);
  padding: 8px 12px;
}

.viewIcon {
  color: $text-dark;
  font-size: 18px;
}

.sortButtonBox {
  @extend .hbox;
  background-color: $background;
  border-radius: 8px;
  height: 60%;
  overflow: hidden;
}

.seperator {
  @extend .hbox;
  background-color: $background-dark;
  min-height: 80%;
  width: 2px;
}

.sortButton {
  @extend .viewButton;
  padding: 8px 10px;
  border-radius: 0;
}

.sortTypeButton {
  @extend .sortButton;
}

.sortTypeIcon {
  color: $text-dark;
  font-size: 18px;
}

.sortingLabel {
  @extend .hbox;
  gap: 6px;
  justify-content: center;
  // min-width: 4.6rem;
}

.sortingButtonLabel {
  min-width: 1.1rem;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;
}

.searchBarBox {
  position: absolute;
  right: 30%;
}
