.toolbarBox {
  @extend .hbox;
  min-height: 1.8rem;
  width: 100%;
  height: 8%;
  gap: 16px;
  justify-content: center;
  background-color: $dark;
}

.addFileBox {
  @extend .hbox;
  margin-left: 24px;
  // margin-right: auto;
}

.addFileButton {
  padding: 8px 14px;
  gap: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.022);
  position: relative; /* Ensure the button is the reference for absolute positioning */

  &:hover {
    background-color: rgba(255, 255, 255, 0.047);
  }

  &:hover .hoverText {
    opacity: 1;
    transform: translateY(0);
  }
}

.hoverText {
  display: block;
  opacity: 0;
  transition: opacity 0.7s ease;
  position: absolute;
  bottom: 100%;
  left: 50%;
  // transform: translateX(-50%) translateY(10px);
  background-color: $background;
  color: $text-dark;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
}

.deleteFilesButton {
  @extend .addFileButton;
  color: $text;
  background-color: $danger-hover;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 10px;

  &:hover {
    background-color: $danger;
  }
}

.addFileIcon {
  color: $text-dark;
  font-size: 18px;
}

.deleteFileIcon {
  color: $text;
  font-size: 14px;
}

.viewBox {
  @extend .hbox;
  gap: 4px;
  // margin-right: 24px;
  width: 9%;
}

.viewButton {
  gap: 8px;
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;

  &:hover {
    background-color: rgba(255, 255, 255, 0.055);
  }
  padding: 8px 12px;
}

.viewButtonSelected {
  gap: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;

  &:hover {
    background-color: rgba(255, 255, 255, 0.055);
  }
  background-color: rgba(255, 255, 255, 0.055);
  padding: 8px 12px;
}

.viewIcon {
  color: $text-dark;
  font-size: 20px;
}

.sortButtonBox {
  @extend .hbox;
  background-color: $background;
  border-radius: 8px;
  // padding: 0 8px;
  // gap: 4px;
  height: 60%;
  overflow: hidden;
  margin-right: 2%;
  margin-left: auto;
}

.seperator {
  @extend .hbox;
  background-color: $background-dark;
  min-height: 80%;
  width: 2px;
}

.sortButton {
  @extend .viewButton;
  padding: 8px 10px;
  border-radius: 0;
}

.sortTypeButton {
  @extend .sortButton;
  padding: 8px 12px;
}

.sortTypeIcon {
  color: $input;
  font-size: 18px;
}

.sortingLabel {
  @extend .hbox;
  gap: 6px;
  justify-content: center;
  min-width: 2.3rem;
}

.sortingButtonLabel {
  min-width: 1.1rem;
  font-size: 16px;
  font-weight: 500;
  color: $text-dark;
}

.searchBarBox {
  position: absolute;
}
