.toolbarBox {
  @extend .hbox;
  min-height: 1.6rem;
  width: 100%;
  height: 8%;
  gap: 8px;
  // justify-content: center;
  background-color: $dark;
}

.backBox {
  @extend .hbox;
  margin-left: 20px;
  // margin-right: auto;
}

.backButton {
  padding: 8px 24px;
  border-radius: 8px;
  background-color: transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.055);
  }
}

.backIcon {
  color: $text-dark;
  font-size: 20px;
}

.viewBox {
  @extend .hbox;
  gap: 4px;
  // margin-right: 24px;
  margin-left: auto;
  width: 8%;
}

.viewButton {
  @extend .backButton;
  padding: 8px 12px;
}

.viewButtonSelected {
  @extend .backButton;
  background-color: rgba(255, 255, 255, 0.055);
  padding: 8px 12px;
}

.viewIcon {
  @extend .backIcon;
}

.sortButtonBox {
  @extend .hbox;
  background-color: $background;
  border-radius: 8px;
  // padding: 0 8px;
  // gap: 4px;
  margin-left: 32px;
  height: 60%;
  overflow: hidden;
}

.seperator {
  @extend .hbox;
  background-color: $background-dark;
  min-height: 80%;
  width: 2px;
}

.sortButton {
  @extend .viewButton;
  padding: 8px 14px;
  border-radius: 0;
}

.sortTypeButton {
  @extend .sortButton;
  padding: 8px 12px;
}

.sortTypeIcon {
  color: $input;
  font-size: 18px;
}

.fileSotringLabel {
  @extend .hbox;
  gap: 8px;
  justify-content: center;
  min-width: 2.3rem;
}

.fileSortingButtonLabel {
  min-width: 1.1rem;
  font-size: 16px;
  color: $text-dark;
}
