.planSelectionBox {
  @extend .vbox;
  padding: 8px;
  gap: 1rem;
  width: 90%;
  height: 100%;
}

.title {
  font-size: 3rem;
  color: $primary;
}

.planSelectionButtonBox {
  @extend .hbox;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
