.planSelectionBox {
  @extend .vbox;
  justify-content: center;
  gap: 16px;
  width: 90%;
  height: 100%;
  min-height: 100vh;
}

.title {
  font-size: 2rem;
  color: $text;
}

.planSelectionButtonBox {
  @extend .hbox;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
