.modalContainer {
  position: absolute;
  @extend .vbox;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  animation: fadeInBlur 0.4s ease-in-out forwards;
}

@keyframes fadeInBlur {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(4px);
  }
}

.modalBox {
  @extend .vbox;
  justify-content: center;
  border-radius: 8px;
  padding: 4px 16px;
  outline: 2px solid $background-soft;
  background: linear-gradient(to bottom, $background, $background-dark);
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
