.searchBarBox {
  @extend .hbox;
  justify-content: center;
  gap: 0.5rem;
  height: 34px;
  width: 100%;
  position: relative;

  &:hover {
    .searchBarInput::placeholder {
      color: $text-dark;
    }
  }
}

.searchBarBoxDisabled {
  @extend .searchBarBox;
  opacity: 0.5;
}

.searchBarInput {
  position: relative;
  margin: 16px 0px;
  padding: 8px 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  border: none;

  &::placeholder {
    color: $input;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
}

.searchBarInput:hover,
.searchBarInput:focus {
  box-shadow: 0 0 2px 2px $background-soft;
}

.noHoverFocus {
  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.searchIcon {
  position: absolute;
  font-size: 16px;
  right: 16px;
  color: $input;
}

.spinnerBox {
  @extend .vbox;
  right: 16px;
  position: absolute;
}

.smartSearchBox {
  position: absolute;
  left: 8px;
}

.smartSearchButtonBox {
  @extend .vbox;
  background-color: red;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
}

.smartSearchButton {
  position: absolute;
  right: 8px;
  background-color: $dark;
  border-radius: 50%;
  padding: 0;
  width: 32px;
  min-height: 32px;
  // width: 45px;
  // height: 30px;

  &:hover {
    background-color: $background-dark;
  }
}

.smartSearchIcon {
  font-size: 14px;
}
