.facebookButton {
  color: $text-dark;
  gap: 6px;
  padding: 8px;
  width: 65%;
  background-color: transparent;
  border: 2px solid rgb(212, 212, 212);
  transition: border 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    // background-color: rgb(212, 212, 212);
    border: 2px solid white;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.568);

    .facebookIcon {
      filter: brightness(1.2);
      transition: filter 0.3s ease-in-out;
    }
  }
}

.facebookIcon {
  font-size: 18px;
  color: #1877F2;
}
