.header {
  @extend .hbox;
  // justify-content: center;
  // background: $primary-hover;
  background: linear-gradient(to bottom, $primary, $primary-hover);
  width: 100vw;
  height: 32px;
  max-height: 32px;
  padding: 8px;
  position: absolute;
  top: 0;
}

.buttonBox {
  @extend .hbox;
  height: 40px;
  // background-color: yellow;
  gap: 8px;
  margin-right: 1%;
  margin-left: auto;
}

.logoBox {
  @extend .hbox;
  justify-content: center;
  padding: 0px 8px;
  margin-top: 2px;
  width: 150px;
  user-select: none;
}

.logo {
  width: 100%;
}
