.passwordInputContainer {
    position: relative;
}

.input {
    background-color: $text;
      color: $background;

}

.inputLabel {
  @extend .vbox;
  align-items: start;
  font-size: 14px;
  color: $text-dark;
  gap: 2px;
}
.passwordToggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}