.passwordInputContainer {
  position: relative;
  width: 100%;
}

.inputLabel {
  @extend .vbox;
  width: 95%;
  align-items: start;
  font-size: 14px;
  color: $text-dark;
  gap: 4px;
}

.passwordToggle {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}
