.sharedWithLabel {
  @extend .hbox;
  padding: 4px;
  gap: 4px;
  width: 85%;
  color: $shadow;
  font-size: 14px;
  font-weight: 500;
}

.sharedWithIcon {
  color: $input;
}

.selectedUsersBox {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 85%;
}
