.dragDropBox {
  @extend .vbox;
  min-height: 95%;
  max-height: 95%;
  width: 100%;
  background-color: $background-dark;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}

.filesBox {
  min-height: 95%;
  min-width: 100%;
}

.draggingOverBox {
  @extend .filesBox;
  background-color: $input;
}

.filesDisplayBox {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  gap: 1rem;
  padding: 16px;
}

.filesListDisplayBox {
  @extend .filesDisplayBox;
  gap: 8px;
}

.filesLoadingBox {
  @extend .hbox;
  align-items: start;
  height: 100%;
  gap: 1rem;
  padding: 16px;
  position: relative;
}

.noFilesBox {
  @extend .hbox;
  justify-content: center;
  gap: 8px;
  position: absolute;
  left: 30%;
  bottom: 50%;
  width: 40%;
  font-size: 20px;
  font-weight: 500;
  color: $input;
}

.progressBox {
  @extend .vbox;
  position: absolute;
  justify-content: center;
  gap: 0.8rem;
  // backdrop-filter: blur(4px);
  background-color: $background-dark;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: $text-dark;
  font-weight: 500;
}

.progressBarBox {
  width: 40%;
}

.filesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -32px;
  width: 98%;
  height: 80%;
  padding: 8px;
  justify-content: center;
  gap: 4%;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: $dark;
    // border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $background;
    border: 2px solid $dark;
  }
}

.dropText {
  @extend .hbox;
  justify-content: center;
  gap: 8px;
  position: absolute;
  left: 30%;
  bottom: 5%;
  width: 40%;
  font-size: 16px;
  font-weight: 500;
  color: $input;
}
