.dragAndDropBox {
  @extend .vbox;
  gap: 1rem;
  min-height: 95%;
  max-height: 95%;
  width: 100%;
  background-color: $background-dark;
  border-radius: 32px;
  // border: 2px dashed $background-soft;
  overflow: hidden;
}

.draggingOver {
  @extend .dragAndDropBox;
  outline: 2px dashed;
  outline-color: $input;
  // height: 60%;
  // width: 80%;
  // border-color: $text;
  // border-radius: 32px;
  // background-color: $background-soft;
  // /* Change border color when dragging over */
  // transform: 0.5s ease forwards;
  // overflow: hidden;
}

// @keyframes bounce {
//   0%,
//   100% {
//     transform: translateY(0);
//     /* Cloud starts at its original position */
//   }

//   50% {
//     transform: translateY(-10px);
//     /* Cloud reaches its highest point */
//   }
// }

.filesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -32px;
  width: 98%;
  height: 80%;
  padding: 8px;
  justify-content: center;
  gap: 4%;
  overflow: auto;
    &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: $dark;
    // border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $background;
    border: 2px solid $dark;
  }
}

.fileIconBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.5rem;
  width: 5rem;
  height: 5rem;
  padding: 16px;
  border-radius: 16px;
  background-color: $background-dark;

  &:hover {
    background-color: $background;
  }
}

.fileIcon {
  width: 50px;
}

.fileNameText {
  width: 100%;
  font-size: 14px;
  white-space: wrap;
  color: $text-dark;
  font-weight: 500;
}

.dropText {
  position: absolute;
  // top: 90%;
  bottom: 8%;
  @extend .hbox;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  color: $background-soft;
}
