.signupContainer {
  @extend .hbox;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}

.signupBox {
  @extend .vbox;
  justify-content: center;
  gap: 0.7rem;
  padding: 48px 80px;
  background-color: $background-dark;
  border-radius: 32px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.descriptionText {
  margin-top: 0.3rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: $text-dark;
  width: 500px;
}

.lightText {
  text-align: center;
  font-style: italic;
  color: $input;
  font-weight: 400;
}

.signinBox {
  @extend .hbox;
  padding: 16px;
  gap: 0.3rem;
  font-size: 0.6rem;
  justify-content: center;
  width: 100%;
}
