.signupContainer {
  @extend .hbox;
  justify-content: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}

.signupBox {
  @extend .vbox;
  justify-content: center;
  gap: 2rem;
  padding: 32px 80px;
  background: linear-gradient(to bottom, $background-dark, $dark);
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.descriptionText {
  margin-top: 0.3rem;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  color: $text-dark;
  width: 500px;
}

.signinBox {
  @extend .hbox;
  padding: 8px;
  gap: 0.5rem;
  font-size: 1.2rem;
  justify-content: center;
  width: 100%;
}

.lightText {
  text-align: center;
  font-style: italic;
  color: $input;
  font-weight: 400;
}
