.progressContainer {
  @extend .hbox;
  width: 100%;
  background-color: $background-soft;
  border-radius: 4px;
  // overflow: hidden;
  height: 4px;
}

.progressBar {
  height: 6px;
  border-radius: 4px;
  background: linear-gradient(to left, $primary, $primary-hover);
  transition: width 0.3s ease;
  // margin-top: -16px;  
}
