.imageSelectorBox {
  @extend .vbox;
}

.imageInput {
  display: none;
}

.imageBox {
  @extend .vbox;
  justify-content: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  font-size: 32px;
  font-weight: 500;
  color: $text;
  background-color: $header;
}

.defaultImageBox {
  @extend .imageBox;
}

.editImageBox {
  @extend .imageBox;
  cursor: pointer;
}
