.form {
  @extend .vbox;
  padding: 8px;
  width: 100%;
  margin-bottom: -0.5rem;
}

.inputLabel {
  @extend .vbox;
  width: 95%;
  align-items: start;
  font-size: 14px;
  color: $text-dark;
  gap: 4px;
}

.buttonBox {
  @extend .hbox;
  justify-content: center;
  width: 80%;
  height: 1.5rem;
}
